---
layout: default
---

<h1>You have no idea what you're getting into.</h1>
<p>
  And that's okay, because neither do I.
  We're taking Cyberspace back one step at a time.
  Better hold on to your butts, because the new world order is here
  and it is going to stay.
</p>

{% if site.posts %}
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">
      <time datetime="{{ post.date }}">
	{{ post.date | date: "%a. %b. %d %Y" }}
      </time> {{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
