<div class="home-item">
  <h1 class="home-item__header">About <code>rocx</code></h1>
  <p>
    The name's <i>Box O'Rocks</i>.
    Also goes by <i><code>rocx</code></i>.
    Lowercased.  Monospaced.  Classified.
    Pronounced like "rocks".
    Either an Internet dude or some persona figment
    of the imagination.
    Writes a code or two.
    Doodles an art or two.
    Rambles a rant or two.
    Declares an opinion or two.
    May or may not be in the right state of mind
    during any given moment blessed by his presence.
    Do not consult <code>rocx</code> if you are
    pregnant or suffer from Waning Patience Syndrome.
  </p>
</div>
