/* Fonts' file size isn't going to be a worry for me.
 * While, yes, you want to keep things small,
 * I have entire doodles and incomplete SVGs that take
 * up more space than the fonts selected in one format.
 * That's not even mentioning photographs and screenshots.
 *
 * At least there won't be auto-playing <video>s here.
 */

@import "fonts/ia-writer-quattro.css";
@import "palettes/modus-operandi.css";
@import "components/nav-header.css";

/* It may look weird using variables to declare variables.
 * This just saves time from changing the variable everywhere.
 */
:root {
    --rocx--light-fg:  var(--modus-operandi--fg-main);
    --rocx--light-bg:  var(--modus-operandi--bg-main);
    --rocx--accent:    var(--modus-operandi--olive);
}

body {
    color:            var(--rocx--light-fg);
    background-color: var(--rocx--light-bg);

    padding-top: 2ch;

    font-family: "iA Writer Quattro", sans-serif;
    text-align: justify;

    font-size: 1rem;
    max-width: 60ch;
    margin: 0 auto;
    padding: 2ch;
}

a:any-link {
    color: var(--rocx--accent);

    &:hover {
	color: var(--modus-operandi--rust);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--rocx--accent);
}

ul li {
    list-style-type: square;
}

p {
    line-height: 1.25;
}

code {
    font-family: monospace;
}

img {
    max-width: 100%;

    &.-half {
	margin: 0 auto !important;
	max-width: 50% !important;
    }
}
