---
---

$background-color: #f8f8f8;
$text-color: #00263a;
$link-color: #005792;
$accent-color: #dd4124;
$sans-serif: "Glacial Indifference", sans-serif;

@import "mixins";
@import "defaults";
@import "navigation";
@import "article";

.splash-text {
    font-family: $sans-serif;
}

.flex-columns {
    display: flex;

    @media only screen and (max-width: 720px) {
	flex-direction: column;
    }
}

.flex-column {
    flex-grow: 1;
    width: 50%;

    @media only screen and (max-width: 720px) {
	width: 100%;
    }
}

.post-list {
    & {

    }

    &__item {

    }
}

.home-item {
    & {
	flex-grow: 1;
	// width: calc(50% - 2ch);
	padding: 0 1ch;
	@media (resolution: 2dppx) {
	}
    }

    &__header {
	font-size: 12pt;
	border-bottom: 2px solid $text-color;
	text-align: center;
    }

    &__body {
	
    }
}
