---
---

$background-color: #fffff8;
$text-color: #333348;
$link-color: #005792;
$accent-color: #e63946;
$sans-serif: "Glacial Indifference", sans-serif;

@import "mixins";
@import "defaults";
@import "article";

.splash-text {
    font-family: $sans-serif;
}

.page-header {
    & {
	@include no-select;
	font-family: "Jellee", sans-serif;
    }

    a, a:visited {
	color: inherit;
	font-size: 24pt;
	text-decoration: underline;
    }

    a:hover {
	color: $link-color;
    }

    a:active {
	color: $accent-color;
    }
}

.flex-columns {
    display: flex;

    @media only screen and (max-width: 720px) {
	flex-direction: column;
    }
}

.flex-column {
    flex-grow: 1;
    width: 50%;

    @media only screen and (max-width: 720px) {
	width: 100%;
    }
}

.post-list {
    & {

    }

    &__item {

    }
}

.home-item {
    & {
	flex-grow: 1;
	// width: calc(50% - 2ch);
	padding: 0 1ch;
	@media (resolution: 2dppx) {
	}
    }

    &__header {
	font-size: 12pt;
	border-bottom: 2px solid $text-color;
	text-align: center;
    }

    &__body {
	
    }
}
