$line-height: 1.5;

@mixin boxed {
    margin: 1ch 0;
    padding: 0 1ch;
    border-width: 1px;
    border-style: double;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-radius: 4px;
}

.metadata {
    & {
	color: $background-color;
	background-color: $accent-color;
	border-radius: 4px;
	border: 2px solid $background-color;
	box-shadow: 0 0 0 2px $accent-color;
    }

    .post-title {
	color: inherit;
	padding: 0.5ch 1ch;
	margin: 0;
	text-align: center;
    }

    .post-date {
	padding: 1ch;
	margin: 0;

	time {
	    text-decoration: dotted underline;
	}
    }
}

article {
    & {
	margin: 2ch;
    }

    p {
        line-height: $line-height;
        text-align: justify;

        @media (max-width: 720px) {
            text-align: left;
        }
    }

    h1 {
        font-size: 20pt;
	color: $accent-color;
	border-top: 6px double $accent-color;
	border-bottom: 6px double $accent-color;
	padding: 0.5ch 0;
    }

    h2 {
        font-size: 16pt;
        color: $accent-color;
    }

    li {
        line-height: $line-height;
    }

    kbd {
        font-size: 90%;
	font-weight: bold;
	font-family: monospace;
        background-color: beige;
        border: 1px solid grey;
        border-radius: 2px;
        box-shadow: 1px 1px 1px grey;
        padding: 0 1ch;
        box-sizing: border-box;
    }

    figure {
        & {
            text-align: center;
            box-sizing: border-box;
            border: 2px inset rgba(black, 0.25);
            background-color: rgba(black, 0.10);
            border-radius: 4px 4px;
            margin: 1ch;
        }

        a {
            img {
                max-width: 100%;
            }
        }

        figcaption {
            //background-color: rgba(black, 0.35);
            background: linear-gradient(to bottom, transparent 0%, rgba(black, 0.5) 80%);
            color: $background-color;
            font-style: italic;
            padding: 0.5ch;
            padding-top: 2ch;
            border-radius: 0 0 4px 4px;
        }
    }

    dl {
	dt {
	    font-weight: bold;
	}
    }

    blockquote {
	@include boxed;
	background-color: mix($background-color, $accent-color, 90%);
	color: mix($text-color, $accent-color, 50%);
	border-color: $accent-color;
    }

    table {
	@include boxed;

	& {
	    border-collapse: collapse;
	}

	thead th, tfoot th {
	    background-color: $text-color;
	    color: $background-color;
	    padding: 0 1ch;
	}

	td, th {
	    margin: 8px;
	}

	tr:nth-child(even) {
	    background-color: #ddd;
	    border-top: 1px solid $text-color;
	    border-bottom: 1px ridge $text-color;
	}
    }

    .highlighter-rouge {
	& {
	    font-family: monospace;
	}

	&[class^="language-"] {
	    @include boxed;
	    display: block;
	    font-size: small;
	    padding: 1ch;
	    overflow: auto visible;
	}
    }
}
