html {
    border-top: 1ch solid $accent-color;
}

body {
    background-color: $background-color;
    color: $text-color;
    max-width: 720px;
    margin: auto;
    font-size: 12pt;
    font-family: $sans-serif;

    ::selection {
	background-color: mix($accent-color, $background-color, 80%);
	color: $background-color;
    }
}

emph, i {
    font-style: normal;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

a {
    & {
	color: $link-color;
    }

    &:active {
	color: $accent-color;
    }
}
