.site-header {
    margin: 0 2ch;
    margin-bottom: 1em;
}

#fortune-placeholder {
    color: grey;
}

.site-nav {
    & {
	display: flex;
	justify-content: flex-start;
    }

    &__nav-item {
	@include no-select;

	font-family: $sans-serif;
	color: $background-color;
	align-self: baseline;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	text-transform: lowercase;
	padding: 1ch;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-top: none;

	&:active, &:hover {
	    color: $accent-color;
	    border-color: $accent-color;
	    background-color: mix($background-color, $accent-color, 90%);
	    text-decoration: underline;
	}
    }

    &__title {
	& {
	    background-color: $accent-color;
	    color: $background-color;
	    text-decoration: none;
	    margin: 0;
	    padding: 1ch;
	    border-radius: 0 0 4px 4px;
	}
    }
}
