<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include ogp.liquid %}
    <!-- TODO: Replace with a local favicon. -->
    <link rel="icon" href="https://avatars0.githubusercontent.com/u/3887832">
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link rel="stylesheet" href="/assets/styles/rocx.css">
    <link rel="alternate"  href="/feed.atom.xml"
          type="application/atom+xml" title="Writs on rocx.rocks">
    <script type="text/javascript"
	    src="/assets/scripts/splash.js">
    </script>
    {%- if page.title %}
    <title>{{ page.title }}{{ site.title_separator }}{{ site.name }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif -%}
  </head>

  <body>
    <header id="splash-holder" class="page-header">
      <a href="/">rocx's rocks</a>
      <noscript>
	<div class="splash-text">
	  {{ site.data.splash_texts | sample }}
	</div>
      </noscript>
    </header>
    <!-- BEGIN_CONTENT -->
{{ content }}
    <!-- END_CONTENT -->
  </body>
</html>
