<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include ogp.liquid %}
    <!-- TODO: Replace with a local favicon. -->
    <link rel="icon" href="/assets/pictures/rocx_portrait.png">
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link rel="stylesheet" href="/assets/styles/rocx.css">
    <link rel="alternate"  href="/feed.atom.xml"
          type="application/atom+xml" title="Writs on rocx.rocks (Atom)">
    <link rel="alternate"  href="/feed.json"
          type="application/json" title="Writs on rocx.rocks (JSON)">
    <script type="text/javascript"
	    src="/assets/scripts/fortune.js">
    </script>
    {%- if page.title %}
    <title>{{ page.title }}{{ site.title_separator }}{{ site.name }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif -%}
  </head>

  <body>
    <header class="site-header">
      <nav class="site-nav">
	<a href="/"
	   class="site-nav__title site-nav__nav-item">
	  {{ site.name }}</a>
      </nav>
      <span id="fortune-placeholder">
	<noscript>{{ site.data.fortunes | sample }}</noscript>
      </span>
    </header>

    <!-- BEGIN_CONTENT -->
    {{ content }}
    <!-- END_CONTENT -->
  </body>
</html>
